.name h3{
    cursor: pointer;
}
.box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button{
    display: flex;
    flex-direction: row;
}

.menu {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    gap : 20px;
    align-items: center;
}

.nav {
    font-size: 20px;
    list-style: none;
    user-select: none;
    text-decoration: none;
    color: black;
}
.nav li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

.nav:hover {
    color: #525252;
}


